* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.contenedor--fondo {
  width: 100%;
  height: 100vh;
  background-image: url(https://i.ibb.co/xM6hqj4/0808f2495517267dee413aaf4b0631cdo.png);
}

.contenedor--header {
  width: 100%;
  height: 84px;
  padding: 20px 0 0;
}

.contenenedor-logo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 56px;
  margin-right: 56px;
}

.logo {
  padding: 8px 0 0;
  width: 135px;
}

.btn {
  width: 130px;
  padding: 9px 17px;
  margin: 8px 0 0;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
}

.contenedor--tipografia {
  width: 100%;
  height: 465.59px;
  max-width: 950px;
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
}

.contenedor--titulo {
  margin: 0 155px;
  height: 110px;
}

.titulo {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.contenedor--subtitulo {
  margin: 16px 155px;
  height: 66px;
}

.subtitulo {
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.contenedor--formulario {
  height: 107.59px;
  padding: 13.6px 0 0;
}

.email {
  width: 450px;
  height: 60px;
  padding: 10px 10px 0;
}

.btn-email {
  height: 60px;
  padding: 15px;
  background-color: #e50914;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.flechita {
  font-size: 20px;
  margin-left: 10px;
}

.h3--titulo {
  font-size: 19.2px;
  margin-top: 15px;
  color: #fff;
}

/* -------------------------------------------------------------- DISFRUTA EN TU TV -----------------------------------------------------------------*/
.contendor--tv {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 473.92px;
  padding: 70px 45px;
  background: #000;
  border-top: 8px solid #2c2929;
}

.tv {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  width: 50%;
  margin-bottom: 30px;
  margin-left: -130px;
}

.tv .pantalla {
  height: 400px;
  position: relative;
  z-index: 5;
}

.pelicula {
  z-index: 3;
  position: relative;
  width: 390px;
  height: 230px;
  top: 80px;
  bottom: -93px;
  right: 460px;
}

.anuncio {
  color: #fff;
}

.anuncio--tv {
  font-size: 50px;
  line-height: 55px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  height: 55px;
  padding: 0px 0px 8px;
}

.anuncio--reproductores {
  height: 99px;
  padding: 19.5px 0 6.5px;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------- CONTENEDOR SMARTPHONE ------------------------------------*/
.contendor--smartphone {
  display: flex;
  align-items: center;
  width: 100%;
  height: 473.92px;
  padding: 70px 45px;
  background: #000;
  border-top: 8px solid #2c2929;
}

.contenedor--descargando {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  border: 2px solid #404040;
  width: 62%;
  height: 90px;
  position: relative;
  right: 864px;
  top: 100px;
  background: #000;
}

.titulo--stranger {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.titulo--descargando {
  font-size: 14px;
  font-weight: 400;
  color: #004896;
}

.anuncio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
}

.anuncio--descarga {
  width: 120%;
}

.anuncio--guarda {
  width: 110%;
}
/*------------------------------------------ CONTENEDOR MAC   --------------------------------------*/
.contendor--mac {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 473.92px;
  padding: 70px 45px;
  background: #000;
  border-top: 8px solid #2c2929;
}

.mac img {
  top: 160px;
  width: 500px;
  height: 400px;
}

.pelicula1 {
  z-index: 3;
  position: relative;
  width: 306px;
  height: 230px;
  bottom: 230px;
  left: 94px;
}

.pantalla--mac {
  position: relative;
  z-index: 5;
}

.anuncio--mac {
  font-size: 50px;
  line-height: 55px;
  font-style: normal;
  font-weight: 700;
  height: 55px;
  padding: 0px 0px 8px;
}

.anuncio--smart {
  width: 70%;
  height: 99px;
  padding: 19.5px 0 6.5px;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

.anuncio--descarga {
  font-size: 50px;
  line-height: 55px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  height: 55px;
  padding: 0px 0px 8px;
  margin-bottom: 50px;
}

.anuncio--guarda {
  height: 99px;
  padding: 19.5px 0 6.5px;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

.contenedor--smarphone-img img {
  width: 500px;
  height: 300px;
}

/*-------------------------------------- ACORDEON ----------------------------*/
.contenedor--acordeon {
  border-top: 8px solid #2c2929;
  border-bottom: 8px solid #2c2929;
  background: #000;
  width: 100%;
  height: 1100px;
}

.titulo--preguntas-frecuentes {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
  line-height: 50px;
}

.contenido-acordeon .contenedor--formulario--final {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido-acordeon .acordeon--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contenido-acordeon input[type="radio"] {
  display: none;
}

.acordeon--titulo {
  width: 60%;
  font-family: Helvetica;
  display: block;
  padding: 25px;
  font-size: 26px;
  font-weight: 400;
  background: #303030;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.acordeon--titulo:hover {
  background: #464545;
}

.acordeon--contenido {
  font-family: sans-serif;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  width: 55%;
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s ease;
  color: #fff;
}

.contenido-acordeon input:checked ~ .acordeon--contenido {
  height: auto;
  margin: 15px 0;
}

/* -------------------------------------------------------- FOOTER ---------------------------------------------------------*/
.contenedor--footer {
  background: #000;
  width: 100%;
  height: 485px;
  border-top: 1px solid #000;
  padding: 0 56px;
}

.lista--footer {
  color: #7e7e7e;
  list-style: none;
}

.contenedor--telefono {
  margin: 100px 0;
  width: 100%;
}

.telefono {
  font-family: sans-serif;
  color: #757575;
  list-style: none;
  font-weight: 700;
  font-size: 16px;
}

.contenedor-opciones {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #757575;
  font-size: 13px;
  font-weight: 400;
}

.underline {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

.underline:hover {
  text-decoration: underline;
  color: #fff;
}

.contenedor--links {
  width: 100%;
  padding: 10px;
  width: 100%;
  height: 125px;
  text-align: left;
}

.contenedor--idioma {
  width: 100%;
  padding: 10px;
}

.select--idioma {
  background: #000;
  padding: 10px 30px 12px 10px;
  font-size: 16px;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  color: #827775;
  margin-bottom: 15px;
  margin-top: 80px;
  margin-left: 30px;
}

.contenedor--lista-footer {
  margin-left: 35px;
}

/*------------------------- ESTILOS CONTENEDOR DEL ERROR ----------------------*/
.contenedor--tipografia .error {
  display: none;
  margin-top: 10px;
  border-radius: 3px;
  color: #ffa00a;
  padding: 15px 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
}

/*------------------------------------------------ RESPONSIVE DESIGN  --------------------------------*/
@media screen and (max-width: 889px) {
  .titulo {
    font-size: 40px;
    line-height: 55px;
  }

  .subtitulo {
    font-size: 23px;
  }

  .email {
    width: 300px;
    height: 60px;
    padding: 10px 10px 0;
  }

  .btn-email {
    height: 60px;
    padding: 15px;
    font-size: 26px;
  }

  .flechita {
    font-size: 15px;
  }

  .h3--titulo {
    font-size: 17.2px;
  }

  /*-------------------------------------- RESPONSIVE DESIGN DISFRUTA EN TU TV ---------------------------*/
  .contendor--tv {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 473.92px;
    padding: 70px 45px;
  }

  .tv {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 400px;
    width: 30%;
    margin-bottom: 30px;
    margin-left: -130px;
  }

  .tv .pantalla {
    height: 200px;
    position: relative;
    z-index: 5;
  }

  .pelicula {
    width: 190px;
    height: 230px;
    top: -20px;
    right: 229px;
  }

  .anuncio {
    color: #fff;
  }

  .anuncio--tv {
    font-size: 30px;
    height: 50px;
  }

  .anuncio--reproductores {
    text-align: center;
    height: 99px;
    padding: 19.5px 0 6.5px;
    font-size: 20px;
  }

  /*--------------------------------------- CONTENEDOR SMARTPHONE ------------------------------------*/
  .contendor--smartphone {
    flex-direction: column;
    width: 100%;
    height: 473.92px;
    padding: 0px 45px;
  }

  .contenedor--descargando {
    width: 38%;
    height: 90px;
    right: 0px;
    top: -240px;
  }

  .titulo--stranger {
    font-size: 12px;
  }

  .titulo--descargando {
    font-size: 12px;
  }

  .anuncio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .anuncio--descarga {
    margin: 0 0 20px;
    text-align: center;
    font-size: 40px;
    width: 100%;
  }

  .anuncio--guarda {
    text-align: center;
    width: 100%;
    font-size: 22px;
  }

  /*------------------------------------------ CONTENEDOR MAC   --------------------------------------*/
  .contendor--mac {
    flex-direction: column;
    width: 100%;
    padding: 10px 45px;
  }
  .mac {
    width: 100%;
    margin-left: 470px;
  }

  .mac img {
    top: 10px;
    width: 300px;
    height: 300px;
  }

  .pelicula1 {
    width: 190px;
    height: 260px;
    top: -60px;
    left: -250px;
  }

  .pantalla--mac {
    position: relative;
    z-index: 5;
  }

  .anuncio--mac {
    text-align: center;
    font-size: 40px;
    height: 55px;
  }

  .anuncio--smart {
    text-align: center;
    width: 100%;
    height: 99px;
    font-size: 20px;
  }

  .anuncio--guarda {
    height: 99px;
    font-size: 26px;
  }

  .contenedor--smarphone-img img {
    width: 300px;
    height: 300px;
  }

  /* -------------------------------------------------------- FOOTER ---------------------------------------------------------*/

  .contenedor-opciones {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: #757575;
    font-size: 13px;
    font-weight: 400;
  }
}

@media screen and (max-width: 889px) {
  .titulo {
    font-size: 30px;
    line-height: 55px;
  }

  .subtitulo {
    font-size: 22px;
  }

  .email {
    width: 200px;
    height: 52px;
    padding: 7px 10px 0;
  }

  .btn-email {
    height: 60px;
    padding: 15px;
    font-size: 20px;
  }

  .h3--titulo {
    text-align: center;
    font-size: 16.2px;
  }
}

@media screen and (max-width: 889px) {
  .titulo {
    font-size: 29px;
    line-height: 55px;
  }

  .subtitulo {
    font-size: 22px;
  }

  .email {
    width: 200px;
    height: 52px;
    padding: 7px 10px 0;
  }

  .btn-email {
    height: 60px;
    padding: 15px;
    font-size: 20px;
  }

  /*--------------------------------------- CONTENEDOR SMARTPHONE ------------------------------------*/
  .contenedor--descargando {
    width: 50%;
    height: 90px;
    right: 0px;
    top: -240px;
  }

  .titulo--stranger {
    font-size: 12px;
  }

  .titulo--descargando {
    font-size: 12px;
  }

  .anuncio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .anuncio--descarga {
    font-size: 25px;
  }

  .anuncio--guarda {
    font-size: 20px;
  }

  .mac {
    width: 100%;
    margin-left: 250px;
  }

  .titulo--preguntas-frecuentes {
    font-size: 40px;
  }

  .contenedor-opciones {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: #757575;
    font-size: 13px;
    font-weight: 400;
  }

  /* ------------------------------------------------- FOOTER ------------------------------*/
  .select--idioma {
    margin-top: 100px;
  }

  .contenedor--links {
    width: 100%;
    padding: 4px;
    width: 100%;
    height: 125px;
    text-align: left;
  }

  .contenedor--telefono {
    margin: 80px 0;
    width: 100%;
  }
}

@media screen and (max-width: 889px) {
  .titulo {
    font-size: 30px;
    line-height: 55px;
  }

  .subtitulo {
    font-size: 22px;
  }

  .email {
    width: 200px;
    height: 52px;
    padding: 7px 10px 0;
  }

  .btn-email {
    height: 60px;
    padding: 15px;
    font-size: 20px;
  }

  .h3--titulo {
    text-align: center;
    font-size: 16.2px;
  }

  .mac {
    margin: 0 0 0 100px;
  }
}

@media screen and (max-width: 653px) {
  .titulo {
    font-size: 27px;
    line-height: 30px;
  }

  .mac {
    margin: 0 0 0 100px;
  }
}

@media screen and (max-width: 626px) {
  .titulo {
    font-size: 25px;
    line-height: 30px;
  }

  .select--idioma {
    margin-top: 120px;
  }

  .contenedor--subtitulo {
    margin: 16px 155px;
    height: 66px;
  }

  .contenedor--titulo {
    margin: 0 155px;
    height: 110px;
  }
}

@media screen and (max-width: 613px) {
  .titulo {
    font-size: 19px;
    line-height: 30px;
  }

  .subtitulo {
    font-size: 20px;
  }

  .contenenedor-logo {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 56px;
    margin-right: 56px;
  }

  .titulo {
    font-size: 18px;
    line-height: 30px;
  }

  .subtitulo {
    font-size: 18px;
  }

  .btn {
    margin-top: 30px;
    width: 370px;
    padding: 9px 17px;
  }

  .mac {
    width: 100%;
    margin-left: 95px;
  }
}

@media screen and (max-width: 598px) {
  .contenedor--formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contenedor--acordeon {
    border-top: 8px solid #2c2929;
    border-bottom: 8px solid #2c2929;
    background: #000;
    width: 100%;
    height: 1100px;
  }

  .titulo--preguntas-frecuentes {
    font-size: 30px;
  }

  .contenido-acordeon .acordeon--item {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .contenido-acordeon input[type="radio"] {
    display: none;
  }

  .acordeon--titulo {
    text-align: center;
    font-size: 20px;
  }

  .acordeon--contenido {
    font-size: 15px;
    width: 55%;
  }

  .btn-email {
    text-align: center;
    width: 350px;
    height: 50px;
    padding: 18px;
    font-size: 14px;
  }

  .email {
    text-align: center;
    width: 350px;
  }

  /*---------------------------------- CONTENEDOR MAC -----------------------------------*/
  .mac img {
    top: 10px;
    width: 295px;
    height: 250px;
  }

  .pelicula1 {
    width: 191px;
    height: 160px;
    top: -80px;
    left: -251px;
  }

  .anuncio--mac {
    text-align: center;
    font-size: 25px;
    height: 20px;
  }

  .anuncio--smart {
    font-size: 15px;
  }
}

@media screen and (max-width: 515px) {
  .mac {
    margin: 0 0 0 90px;
  }
}

@media screen and (max-width: 435px) {
  .contenenedor-logo {
    margin: 20px;
  }

  .contenedor--titulo,
  .contenedor--subtitulo {
    margin: 0 60px;
  }

  .titulo,
  .subtitulo {
    width: 300px;
  }

  .anuncio--tv {
    text-align: center;
  }
  .anuncio--reproductores {
    text-align: center;
    font-size: 15px;
  }

  .anuncio--descarga {
    margin: 0 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
  }

  .anuncio--guarda {
    font-size: 15px;
  }

  /*---------- MAC -------*/
  .mac img {
    top: 140px;
    width: 295px;
    height: 250px;
  }

  .mac {
    margin: 0 0 0 20px;
  }

  .pelicula1 {
    width: 191px;
    height: 160px;
    top: -120px;
    left: 50px;
  }

  .anuncio--mac {
    text-align: center;
    font-size: 25px;
    height: 20px;
  }

  .anuncio--smart {
    font-size: 15px;
  }
}
